@charset "UTF-8";
h2{ text-align: center; }
h3{ float: left; margin-top: -50px; }
h3 a{ text-decoration: none; color: lightgray; }
#free_box{ width: 1200px; margin: 0 auto; clear: both; }
#title{ width: 1200px; height: 150px; border: 1px solid black; }
#span{ float: right; }
#content{ width: 1200px; height: 400px; border: 1px solid black; }

#title p { margin-left: 15px; margin-right: 15px; }
#title input { width: 1160px; height: 25px; }
#content textarea{ width: 1160px; margin-left: 15px; height: 365px;}

button{ float: right; width: 1200px; height: 30px; border: none; border-radius: 5px; margin-top: 10px; margin-bottom: 10px; background: #c32148; color: white; cursor: pointer; }






































